layout {

		swap_floating_layout { 
				floating_panes max_panes=1 {
						pane x="5%" y="5%" width="90%" height="90%"
				}
				floating_panes max_panes=2 {
            pane x="4%" y="5%" width="45%" height="90%"
            pane x="51%" y="5%" width="45%" height="90%"
        }
		}
		tab name="Terminal" {
				pane size=1 borderless=true {
						plugin location="zellij:tab-bar"
				}
				pane borderless=true 
				pane size=1 borderless=true {
						plugin location="zellij:status-bar"
				}
		}

		tab name="Editor" {
				pane borderless=true{
						command "nvim"
				}
		}
}
